.todoList {
  .todoItem {
    line-height: 24px;

    &.isCompleted {
      background-color: #999;
    }

    &.isSelected {
      background-color: red;
      color: white;
    }
  }

  .todoItem + .todoItem {
    margin-top: 8px;
  }
}
